<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
      <input type="text" [formControl]="searchInput" class="form-control" placeholder="Search..">
    </div>
  </div>
</div>

<div *ngFor="let product of products | searchProduct:'title':keyword " class="col-lg-4 col-md-4 col-sm-4">
  <div class="thumbnail">
    <img [src]="imgUrl" alt="...">
    <div class="caption">
      <h4 class="pull-right">{{product.price}}元</h4>
      <h4><a [routerLink]="['product',product.id]">{{product.title}}</a></h4>
      <p>{{product.desc}}</p>
    </div>
    <div>
      <app-stars [rating]="product.rating"></app-stars>
    </div>
  </div>
</div>
